{
  "extends": [
    "react-app",
    "react-app/jest"
  ],
  "rules": {
    "no-console": "warn",
    "prefer-const": "error",
    "quotes": [
      "error",
      "single"
    ],
    "jsx-quotes": [
      "error",
      "prefer-single"
    ],
    "indent": [
      "warn",
      2
    ],
    "max-len": [
      "error",
      {
        "code": 120
      }
    ],
    "comma-dangle": [
      "error",
      "always-multiline"
    ],
    "semi": [
      "warn",
      "always"
    ],
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index",
          "object",
          "type"
        ],
        "newlines-between": "always-and-inside-groups"
      }
    ]
  }
}