@import '../../assets/styles/styles.scss';

.form {
  padding: 0 10px;
  width: 100%;
  max-width: 460px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fieldset {
  padding: 0;
}

.submit {
  padding: 10px;
  min-height: 20px;
  min-width: 100px;
  background: $submitColorActive;

  color: $accentColorLight;

  @include standartTransition(0.2);

  &:disabled {
    background: $submitColorDisabled;
    color: $textColorSecondary;
  }
}