@import '../../../assets/styles/styles.scss';

.section {
  margin-bottom: 30px;
  padding: 0;

  display: flex;
  flex-direction: column;

  &:not(:last-of-type) {
    margin-bottom: 16px;
  }
}

.label {
  margin-bottom: 4px;

  align-self: flex-start;

  font-size: 10px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  color: $textColorMain;
}