// colors
$bgColor: #E5E5E5;
$textColorMain: #3F3F3F;
$textColorSecondary: #B4B4B4;
$accentColor: #FF8484;
$accentColorLight: #FFFFFF;
$contentBlockBg: #FFFEFB;
// btn
$submitColorDisabled: #EEEEEE;
$submitColorActive: #7BAE73;

// mediaQuery breakpoints
$maxContentWidth: 1439.98+px;