// colors
$bgColor: #E5E5E5;
$textColorMain: #3F3F3F;
$textColorSecondary: #B4B4B4;
$accentColor: #FF8484;
$accentColorLight: #FFFFFF;
$contentBlockBg: #FFFEFB;
// btn
$submitColorDisabled: #EEEEEE;
$submitColorActive: #7BAE73;

// mediaQuery breakpoints
$maxContentWidth: 1439.98+px;
$b1280: 1279.99+px;
$b1024: 1023.99+px;
$b992: 991.98+px;
$b768: 767.98+px;
$b480: 479.98+px;